@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    
    .link-custom {
      @apply inline-block no-underline text-black font-sans relative;
    }
    .link-active{
        @apply text-secondary
    }
    .link-custom::after{
      @apply block border-b border-secondary text-secondary;
      content: '';
      width: inherit;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }
    .link-custom:hover::after {
      transform: scaleX(1);
    }
  }